---
layout: default
title: All Characters
---
{% assign ordered_characters = site.archers | sort: "family_name" %}
<h1>All Characters</h1>
<table>
<tr>
    <th>Forenames</th>
    <th>Family Name</th>
    <th>Date of Birth</th>
    <th>Date of Death</th>
    <th></th>
</tr>
{% for archer in ordered_characters %}
<tr>
    <td>{{archer.forenames}}</td>
    <td>{{archer.family_name}}
        {% if archer.maiden_name and archer.maiden_name.size != 0 %}
            , née {{archer.maiden_name}}
        {% endif %}
    </td>
    <td>{%- include format_partial_date.html date_str=archer.date_of_birth -%}</td>
    <td>{%- include format_partial_date.html date_str=archer.date_of_death -%}</td>

    <td><a href="{{site.baseurl}}{{ archer.url }}">Details</a><br/><small>{{archer.nid}}</small></td>

</tr>

{% endfor %}

</table>