---
layout: default
---
<h1>{{ page.title }}</h1>

<p><span class="field-name">Forenames:</span> {{page.forenames}}</p>
<p><span class="field-name">Family Name:</span> {{page.family_name}}</p>

{%- if page.maiden_name and page.maiden_name.size != 0 -%}
    <p><span class="field-name">Maiden Name:</span> {{page.maiden_name}}</p>
{%- endif -%}

{%- if page.spouse and page.spouse.size != 0 -%}
<p><span class="field-name">Spouse: </span>
    {%- if page.spouse.size == 1 -%}
        {%- assign spouse_id = page.spouse[0] -%}
        {%- include character_link_by_nid.html nid=spouse_id all_characters=site.archers -%}
    {%- else -%}
        <ul>
        {%- for spouse_id in page.spouse -%}
            <li>
                {%- include character_link_by_nid.html nid=spouse_id all_characters=site.archers -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}
</p>
{%- endif -%}

{%- if page.partner and page.partner.size != 0 -%}
<p><span class="field-name">Partners: </span>
    {%- if page.partner.size == 1 -%}
        {%- assign partner_id = page.partner[0] -%}
        {%- include character_link_by_nid.html nid=partner_id all_characters=site.archers -%}
    {%- else -%}
        <ul>
        {%- for partner_id in page.partner -%}
            <li>
                {%- include character_link_by_nid.html nid=partner_id all_characters=site.archers -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}
</p>
{%- endif -%}


{%- if page.children and page.children.size != 0 -%}
<p><span class="field-name">Children: </span>
    {%- if page.children.size == 1 -%}
        {%- assign child_id = page.children[0] -%}
        {%- include character_link_by_nid.html nid=child_id all_characters=site.archers -%}
    {%- else -%}
        <ul>
        {%- for child_id in page.children -%}
            <li>
                {%- include character_link_by_nid.html nid=child_id all_characters=site.archers -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}
</p>
{%- endif -%}

{%- if page.father and page.father.size != 0 -%}
    <p><span class="field-name">Father: </span>
        {%- include character_link_by_nid.html nid=page.father all_characters=site.archers -%}
    </p>
{%- endif -%}

{%- if page.mother and page.mother.size  != 0 -%}
<p><span class="field-name">Mother: </span>
    {%- include character_link_by_nid.html nid=page.mother all_characters=site.archers -%}
</p>
{%- endif -%}

{%- if page.date_of_birth and page.date_of_birth.size != 0 -%}
<p><span class="field-name">Date of Birth: </span> {%- include format_partial_date.html date_str=page.date_of_birth -%}</p>
{%- endif -%}

{%- if page.date_of_death and page.date_of_death.size != 0 -%}
<p><span class="field-name">Date of Death: </span> {%- include format_partial_date.html date_str=page.date_of_death -%}</p>
{%- endif -%}

{%- if page.actor and page.actor.size != 0 -%}
<p><span class="field-name">Actor: </span>
    {%- if page.actor.size == 1 -%}
        {%- assign actor_id = page.actor[0] -%}
        {%- include character_link_by_nid.html nid=actor_id all_characters=site.archers -%}
    {%- else -%}
        <ul>
        {%- for actor_id in page.actor -%}
            <li>
                {%- include character_link_by_nid.html nid=actor_id all_characters=site.archers -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}
</p>
{%- endif -%}

{%- if page.bbc_url -%}
<p><span class="field-name">BBC Webpage:</span> <a href="{{page.bbc_url}}"" target=_blank>{{page.bbc_url}}</a> </p>
{%- endif -%}

{%- assign descendants_div_id = 'descendant-family-tree' -%}
{%- assign pedigree_div_id = 'pedigree-family-tree' -%}

<div id="pedigree">
    <h2>Pedigree Family Tree</h2>
    <div id="{{pedigree_div_id}}" class="archers-family-tree"></div>
</div>

<div id="tree">
    <h2>Descendants Family Tree</h2>
    <div id="{{descendants_div_id}}" class="archers-family-tree"></div>
</div>


<script>
var descendants_node_structure = {
    "innerHTML": "{%- capture ih -%}{%- include /tree_format_person.html person=page all_characters=site.archers spouse=true -%}{%- endcapture -%} {{- ih | strip_newlines -}}",
    "children": [ {%- include /tree_add_children.html person=page all_characters=site.archers collapsed=true -%} ]
};

var descendants_chart_config = {
                'chart' : {
                            'container'         : "#{{descendants_div_id}}",
                            'rootOrientation'   : 'NORTH', //'SOUTH',
                            'nodeAlign'         : 'BOTTOM', // TOP, CENTER, BOTTOM //seems to be inverted
                            'connectors'        : {'type' : 'step'},
                            'levelSeparation'   : 60,
                            'node'              : {
                                                    'HTMLclass'   : 'archer-descendant',
                                                    'collapsable' : true,
                                                },
                        },
                'nodeStructure' : descendants_node_structure,
            };

var descendants_chart = new Treant(descendants_chart_config);

var pedigree_node_structure = {
    "innerHTML": "{%- capture ih -%}{%- include /tree_format_person.html person=page all_characters=site.archers spouse=false -%}{%- endcapture -%} {{- ih | strip_newlines -}}",
    "children": [ {%- include /tree_add_parents.html person=page all_characters=site.archers collapsed=true -%} ]
};

var pedigree_chart_config = {
                'chart' : {
                            'container'         : "#{{pedigree_div_id}}",
                            'rootOrientation'   : 'SOUTH',
                            'nodeAlign'         : 'BOTTOM', // TOP, CENTER, BOTTOM //seems to be inverted
                            'connectors'        : {'type' : 'step'},
                            'levelSeparation'   : 60,
                            'node'              : {
                                                    'HTMLclass'   : 'archer-pedigree',
                                                    'collapsable' : true,
                                                },
                        },
                'nodeStructure' : pedigree_node_structure,
            };

var pedigree_chart = new Treant(pedigree_chart_config);

</script>

{{ content }}